@import '../../node_modules/bootstrap/scss/functions';

$dark: hsl(217, 38%, 5%);
$text-muted: rgba(238, 238, 238, 0.75);
$primary: hsl(205, 100%, 30%);

$success: hsl(146, 49%, 40%);
$danger: hsl(1, 70%, 45%);
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/utilities';
@import '../../node_modules/bootstrap/scss/bootstrap';

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5em;
}

body {
  padding-top: 4.5rem;
  background-color: hsl(0, 0%, 96%);
}

.categories {
  list-style: none;
  padding: 0;
  margin: 0;
}

.meme-btn-bg {
  background-color: hsl(230, 10%, 95%);
}

.bg-card {
  background-color: hsl(217, 40%, 2%);
}

.loading {
  margin: 1.5em auto 1.5em;
  text-align: center;
}

.alert-flash {
  position: fixed;
  z-index: 102;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
}

.page-link {
  color: $dark;
}

.page-item.disabled .page-link {
  color: hsl(0, 0%, 35%);
  opacity: 0.8;
  background-color: hsl(0, 0%, 90%);
}

.page-item.active .page-link {
  border-color: hsl(205, 100%, 32%);
}

.meme-loading,
.meme-loading * {
  visibility: hidden;
}
